.bloco {
    display: block;
    margin: 5% auto;
    padding: 0 0 1% 0;
    background-color: white;
    border-radius: 15px 15px 10px 10px;
    height: auto;
    width: 70%;

    &__header {
        display: flex;
        background-color: #07395a;
        height: auto;
        border-radius: 10px 10px 0 0;
        padding: 2% 6%;
        align-items: center;

        h1 {
            flex-grow: 1;
            margin-left: 40px;
            color: white;
            font-size: 35px;
            letter-spacing: 1px;
            text-align: center;
        }

        &__adicionar {
            input {
                position: absolute;
                border-radius: 8px;
                border: none;
                outline: none;
                padding: 0.7% 1%;
                margin-left: -200px;
                margin-top: 3px;
                background-color: rgba(11, 82, 129, 0.5);
                transition: all 0.2s linear;
                color: white;
                &:hover {
                    background-color: rgba(11, 82, 129, 0.7);
                }
                &:focus {
                    background-color: rgba(11, 82, 129, 0.7);
                }
            }

            button {
                z-index: 1;
                border-radius: 50%;
                margin-left: auto;
                cursor: pointer;
                background-color: rgba(68, 80, 255, 0.25);
                color: white;
                width: 40px;
                height: 40px;
                font-size: 25px;
                border: none;
                transition: all 0.25s linear;
                &:hover {
                    background-color: rgba(68, 80, 255, 0.5);
                }
            }
        }
    }

    &__lista {
        &__anotacao {
            display: flex;
            padding: 2% 2% 1% 2%;

            textarea {
                resize: none;
                border: 1px solid rgba(0, 0, 0, 0.01);
                outline: none;
            }

            button {
                cursor: pointer;
            }

            .botoesConfirm {
                display: none;
            }
        }
    }
}

.visibility {
    display: none;
}