@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background-color: #04263d;
  height: 100%;
}

::placeholder {
  color: rgb(219, 219, 219);
}

/*---------------------------------------*/

@import 'style/style';

/*---------------------------------------*/